
.App {
  width: 100%;
}

.title {
  background-color: #003165;
  width: 100%;
  padding: 10px;
}

.title h1 {
  color: #fff;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
}

.content {
  padding: 10px;
}

.part-info {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  padding: 5px 10px;
}

.part-info p {
  margin: 0;
}